@import './utils/variables';
@import './base/reset';
@import './base/common';
@import './utils/hidden';

@import './components/modal';
@import './components/container';
@import './components/section-title';
@import './components/section';

@import './layouts/header';
@import './layouts/hero';
@import './layouts/section-benefits';
@import './layouts/about';
@import './layouts/team';
@import './layouts/client';

@import './layouts/footer-content';
@import './layouts/footer-soc-link';
@import './layouts/footer-form';

@import './layouts/portfolio-menu';
@import './layouts/portfolio-projects';
