html {
    box-sizing: border-box;
}

*,
*::backdrop,
*::after {
    box-sizing: inherit;
}

/* стилі обнулення верхніх відступів у елементів* */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

/* /* для коректного відображення картинок* */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*- курсив */
address {
    font-style: normal;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.link {
    text-decoration: none;
}

.list {
    list-style: none;
}



img{
    display: block;
    max-width: 100%;
    height: auto;


    width: 100%;
}
/* main container */

