.footer-content {

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        
        }
}

.footer {
    background: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer {
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--third-color);

    margin-bottom: 20px;
}

.logo-bottom {
    margin-bottom: 20px;
}

.footer-accent {
    color: var(--accent-color);
}

.footer-address-box {

    @media screen and (min-width: 1200px) {
        width: 230px;
        }
}

.footer-address {
    line-height: calc(24 / 14);
    color: var(--third-color);
    margin-bottom: 9px;
}

.footer-contacts {
    line-height: calc(24 / 14);
    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
        }
}

.tel {
    margin-bottom: 9px;
}



.footer-soc-text {
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}