.footer-soc-icon {
    fill: var(--third-color);
}

.link-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            background-color: var(--accent-color);
        }
}