.footer-form {
    display: flex;
    justify-content: center;

}

.footer-form-icon {
    fill: currentColor;
    margin-left: 10px;
}

.footer-form-btn {

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 28px;
    margin-left: 12px;

    color: rgba(255, 255, 255, 1);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;

}

/* loook  */
.footer-form-input {
    width: 358px;
    height: 50px;
    padding: 15px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: transparent;
    color: var(--accent-color);

    cursor: pointer;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            border: 1px solid var(--third-color);
            color: var(--third-color);
        }
    
    &::placeholder {
            font-size: 16px;
            line-height: 1, 25;
    
            display: flex;
            align-items: center;
    
            color: rgba(255, 255, 255, 0.6);
        }
}


.footer-form-text {
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}